{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="recent-blog-posts" class="recent-blog-posts">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <br>
            <br>
            <h2>Количество тестов: {{test_count}}</h2>
            <p>Выбери и пройди тест, чтобы узнать о себе больше!</p>
        </header>

        <div class="row">

            {% for test in all_tests %}
            <div class="col-lg-4">
                <div class="post-box">
                    <div class="post-img"><img src="{{test.test_image.url}}" class="img-fluid" alt="Test image"></div>
                    <h3 class="post-title">{{test.test_name}}</h3>

                    {% if user.is_authenticated %}
                    <a href="{{test.get_url}}" class="readmore stretched-link mt-auto"><span>Начать тест</span><i
                            class="bi bi-arrow-right"></i></a>
                    {% else %}
                    <a href="{% url 'login' %}" class="readmore stretched-link mt-auto"><span>Начать тест</span><i
                            class="bi bi-arrow-right"></i></a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

        </div>

    </div>

</section>


{% endblock %}